ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

li {
  float: left;
  padding: 20px 10px;
}

.right-nav {
  float: right;
}

.image {
  padding: 5px 10px;
}


.googleLogo {
  clear: both;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 150px 200px 0px 200px;
}

.text {
  display: block;
  margin: 0 auto 40px auto;
  width: 600px;
  height: 40px;
  border: 0.5px solid gray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50px;
}

.button {
  text-align: center;
  margin-bottom: 30px;
}

.submit {
  display: inline-block;
  border: none;
  padding: 10px;
  background-color: #EAEAEA;
}

body {
  margin: 0;
  padding: 0;
}

.france {
  color: blue;
}

p {
  text-align: center;
}

.canada {
  text-align: left;
  background-color: #EAEAEA;
  padding: 10px 0 10px 20px;
  width: 100%;
  border: 1px solid black;
  margin: 0;
  border-bottom: 0px;
}

.footer {
  float: left;
  width: 100%;
  background-color: #EAEAEA;
  border: 1px solid black;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}